:root {
  --height: 370px;
  --width: 200px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: azure;
}
.mainComp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
h1 {
  font-family: "Oleo Script", system-ui;
  font-size: 25px;
  color: #8B008B;
  margin-left: 20px;
}
.cardContainer {
  width: var(--width);
  height: var(--height);
  margin: 3rem auto;
  transition: all 0.85s ease-in-out;
}

.card {
  perspective: calc(4 * var(--height));
  height: var(--height);
  width: var(--width);
  position: relative;
  color: white;
}

.card > div,
.card > div > div {
  height: var(--height);
  width: var(--width);
  position: absolute;
  border-radius: 0.25rem;
}

.card > div > div {
  /* padding: 2rem; */
}

.front {
  transition-duration: 1.5s;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  z-index: 2;
}

.front > div {
  backface-visibility: hidden;
}

.outside,
.inside {
  background-image: url('/cardTexture.png');
  background-size: cover;
}

.outside {
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front .inside {
  transform: rotateY(-180deg);
}

.back {
  z-index: 1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */
}

.back .inside {
  border-left: 2px dotted darkgrey;
}

.open {
  padding-left: var(--width);
}

.open .front {
  transform: rotateY(-180deg);
}


.cake-comp {
  position: relative;
  width: 100%;
  height: 100%;
}
.cake-candle {
  position: absolute;
  top: 23%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: opacity 1s ease;
}
.cake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.changeOpacity {
  opacity: 0; /* Candle fades out completely */
}


.footnote {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: #8B008B;
}



/* Initial state for christmas-sec */
.christmas-sec {
  position: absolute;
  transition: transform 0.5s ease;
  transform: scale(0);
  width: 100%;
  height: 100%;
}

/* Zoom-in effect */
.christmas-sec.zoom-in {
  transform: scale(1);
}


.christmas-sec .christmas-card {
  width: 100%;
}

h1.christmas-title {
  color: #ad2129;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.mariah {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);

}